<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Login</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" -->
        <!-- integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->

</head>

<body>
    <section>
        <!--Bắt Đầu Phần Hình Ảnh-->
        <div class="img-bg">
            <img src="https://www.hcmut.edu.vn/upload/en/images/1(11).jpg"
                alt="hcmut">
        </div>
        <!--Kết Thúc Phần Hình Ảnh-->
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung" >
            <div class="form" >
                <h2>Trang chủ</h2>
                <form action="" method="post">
                    <div class="input-form" >
                        <span>Tên người dùng</span>
                        <input type="text" autocomplete="off" name="username" value="{{request.form.username}}">
                    </div>
                    <div class="input-form">
                        <span>Số điện thoại</span>
                        <input type="text" autocomplete="off" name="phone" value="{{request.form.phone}}">
                    </div>
                    <!-- <div class="nho-dang-nhap">
                        <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
                    </div> -->
                    <div class="input-form">
                        <input type="submit" value="Hoàn thành">
                    </div>
                </form>
            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
</body>

</html>
